<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <div th:replace="base :: head"></div>
</head>
<body>
<th:block th:replace="base :: navbar"></th:block>

<br /><br /><br />
<div class="container">
<h3>Messages</h3>

    <div class="row">
        <table class="table">
            <tr>
                <th>
                    Message
                </th>
                <th>
                    Actions
                </th>
            </tr>
        <th:block th:each="message: ${messages}">
            <tr>
            <td th:utext="${message.content}"> <br />
                </td>
            <td>
                <a th:href="@{/update/{id}(id=${message.id})}">Update</a>-
                <a th:href="@{/detail/{id}(id=${message.id})}">Details</a>-
                <a th:href="@{/delete/{id}(id=${message.id})}">Delete</a>
            </td>
            </tr>
        </th:block>
        </table>
    </div>

</div>

</body>
</html>