<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <th:block th:replace="base :: head"></th:block>
</head>
<body>
<div th:replace="base :: navbar"></div>
<br /><br /><br />

<div class="container">
<form action="#"
      th:action="@{/process}"
      th:object="${message}"
      method="post">
    <input type="hidden" th:field="*{id}"/>

    Content: <textarea rows="3" th:field="*{content}"/>
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span> <br />

    Sent By :<input type ="text" th:field="*{sentby}"/>
    <span th:if="${#fields.hasErrors('sentby')}"
          th:errors="*{sentby}"></span>
    <br />
    <input type="submit" value="Submit" />
</form>
</div>
</body>
</html>